<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cms.dao.contents.academy.LibraryDao">
		
	<!-- ================================
		@name getLibraryList
		@param 
		@result com.cms.dto.contents.academy.EducationFile
		@author 박종배
		@since 21.09.07
		@description get Library List  
	==================================== -->
	<select id="getLibraryList" resultType="com.cms.dto.contents.academy.EducationFile">
		SELECT 	
				Idx as idx
			,	Gubun as gubun
			,	Title as title
			,	Url as url
			, 	UseYn as useYN
			,	MainYn as mainYN
			,	CONVERT(varchar(10), RegDate, 121) as regDate
			,	( SELECT top 1 filePath from [admin_upload_list] where  parentIdx = A.idx order by idx desc ) as filePath
		FROM Academy_Libarary A
		ORDER BY Idx DESC
	</select>

	
	<!-- ================================
		@name setLibrary
		@param com.cms.dto.contents.academy.EducationFile
		@result 
		@author 박종배
		@since 21.09.13
		@description set Library data  
	==================================== -->
	<insert id="setLibrary" parameterType="com.cms.dto.contents.academy.EducationFile">
		<selectKey keyProperty="idx" resultType="int" order="AFTER">
		INSERT INTO Academy_Libarary (
				Gubun
			,	Title
			,	Url
			,	RegDate
			,	RegUser
			,	UseYn
			,	MainYn
		) VALUES (
				#{gubun}
			,	#{title}
			,	#{url}
			,	convert(date, #{regDate})
			,	#{regUser}
			,	#{useYN}
			,	#{mainYN}
		)
		SELECT SCOPE_IDENTITY() as idx
		</selectKey>
	</insert>
	<insert id="setLibraryFile" parameterType="com.cms.dto.contents.academy.EducationFile">
		INSERT INTO [admin_upload_list] (
				fileName
			,	filePath
			,	fileSize
			,	uuid
			,	regDate
			,	gubun
			,	parentIdx
		) VALUES (
				#{fileName}
			,	#{filePath}
			,	#{fileSize}
			,	#{uuid}
			,	GETDATE()
			,	'Academy_Library'
			,	#{idx}
		)
	</insert>
	
	<!-- ================================
		@name getLibraryOne
		@param idx
		@result com.cms.dto.contents.academy.EducationFile
		@author 박종배
		@since 21.09.14
		@description get Library data  
	==================================== -->
	<select id="getLibraryOne" parameterType="int"  resultType="com.cms.dto.contents.academy.EducationFile">
		SELECT 	
				Idx as idx
			,	Gubun as gubun
			,	Title as title 
			,	Url as url
			,	UseYn as useYN
			,	MainYn as mainYN
			,	convert(varchar(8), RegDate, 112) as regDate
			,	( SELECT top 1 filePath from [admin_upload_list] where  parentIdx = A.Idx order by idx desc ) as img_Origin
		FROM Academy_Libarary A
		WHERE idx = #{idx}
	</select>
		
	<!-- ================================
		@name modifyLibrary
		@param com.cms.dto.contents.academy.EducationFile
		@result 
		@author 박종배
		@since 21.09.14
		@description modify Library data
	==================================== -->
	<update id="modifyLibrary" parameterType="com.cms.dto.contents.academy.EducationFile">
		UPDATE Academy_Libarary
		SET 	Title = #{title}
			,	Gubun = #{gubun}
			,	Url = #{url}
			,	ModUser = #{modUser}
			,	UseYn = #{useYN}
			,	MainYn = #{mainYN}
			,	RegDate = convert(date, #{regDate})
			,	ModDate = GETDATE()
		 WHERE idx = #{idx}
	</update>
	
	
	<!-- ================================
	@name removeLibrary
	@param idx
	@author 박종배
	@since 21.09.14
	@description remove Library Data
	==================================== -->
	<delete id="removeLibrary" parameterType="int" >
		DELETE FROM Academy_Libarary
		WHERE Idx = #{idx}
	</delete>
	<delete id="removeLibraryFile" parameterType="int">
		DELETE FROM admin_upload_list
		WHERE parentIdx = #{idx}
			and gubun = 'Academy_Library'
	</delete>
	
	<!-- ================================
	@name getLibraryFileList
	@param idx
	@result com.cms.dto.contents.academy.EducationFile
	@author 박종배
	@since 21.09.15
	@description get Library File List Data
	==================================== -->
	<select id="getLibraryFileList" parameterType="int" resultType="com.cms.dto.contents.academy.EducationFile">
		SELECT fileName
		FROM admin_upload_list
		WHERE parentIdx = #{idx}
	</select>
	
</mapper>