<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cms.dao.contents.faq.FaqrankDao">
		
	<select id="getFaqList" resultType="com.cms.dto.contents.faq.Faq">
		SELECT idx
			,	Category
			,	Subject
			,	UseYn
			,	convert(varchar, OrderDate, 120) as OrderDate
		FROM Board_Faq
		WHERE UseYn = 'Y' and Category = #{category}
		ORDER BY OrderDate ASC
	</select>	
	
	<update id="setOrder" parameterType="map">
		UPDATE Board_Faq
		SET OrderDate = DATEADD(s, #{key}, getdate())
		WHERE idx = #{idx}
	</update>
	
</mapper>